name: .NET Core

on:
  push:
    branches: [ master ]
    tags: [ v* ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: Test with dotnet test
      run: dotnet test --configuration Release --no-build
    - name: Nerdbank.GitVersioning
      uses: dotnet/nbgv@master
      with:
        setAllVars: true
    - run: echo "Package generated artefacts/DotNetDockerTest.${NBGV_NuGetPackageVersion}.nupkg"
    - name: Publish to NuGet
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      run: dotnet nuget push artefacts/DotNetDockerTest.${NBGV_NuGetPackageVersion}.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
